# Java files reviewed by Richard
*.java @M3mberTM

#PHP files reviewed by Lucas
*.php @hongqian-li

#HTML files reviewed by Julian
*.html @Julian23000

#Javascript files reviewed by Attila
*.js @Attila22000